In [3]:
# Import packages needed for project:
import pandas as pd
import requests
import io
import datetime as dt
from datetime import datetime
from datetime import timedelta
import numpy as np
from collections import Counter
import re
import sklearn

# Visualization
import matplotlib.pyplot as plt
# import matplotlib.animation as animation
import seaborn as sns

# Machine learning
#from sklearn.module import Model
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split, cross_val_score, KFold
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

In [7]:
# Import COVID data

# Link and download COVID dataset from OWID
url = "https://covid.ourworldindata.org/data/owid-covid-data.csv" 
download = requests.get(url).content

# Create the COVID as a pandas dataframe
covid_data_raw = pd.read_csv(io.StringIO(download.decode('utf-8')),parse_dates=['date']) #need to parse the date field
#source: https://stackoverflow.com/questions/59004960/converting-date-format-in-a-dataframe-from-a-csv-file

In [8]:
#import urllib2
from bs4 import BeautifulSoup

In [ ]:
color_palette = pd.read_csv(Color_Palette.txt)

In [5]:
covid_data_small = covid_data_raw[["date","iso_code","location","total_cases","total_deaths","population","gdp_per_capita"]]

In [6]:
covid_data_small

,date,iso_code,location,total_cases,total_deaths,population,gdp_per_capita
0,2020-02-24,AFG,Afghanistan,5.0,NaN,40099462.0,1803.987
1,2020-02-25,AFG,Afghanistan,5.0,NaN,40099462.0,1803.987
2,2020-02-26,AFG,Afghanistan,5.0,NaN,40099462.0,1803.987
3,2020-02-27,AFG,Afghanistan,5.0,NaN,40099462.0,1803.987
4,2020-02-28,AFG,Afghanistan,5.0,NaN,40099462.0,1803.987
...,...,...,...,...,...,...,...
217042,2022-09-12,ZWE,Zimbabwe,256888.0,5596.0,15993524.0,1899.775
217043,2022-09-13,ZWE,Zimbabwe,256904.0,5596.0,15993524.0,1899.775
217044,2022-09-14,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775
217045,2022-09-15,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775
217046,2022-09-16,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775

In [9]:
new_covid = covid_data_small.fillna(0)

In [10]:
new_covid

,date,iso_code,location,total_cases,total_deaths,population,gdp_per_capita
0,2020-02-24,AFG,Afghanistan,5.0,0.0,40099462.0,1803.987
1,2020-02-25,AFG,Afghanistan,5.0,0.0,40099462.0,1803.987
2,2020-02-26,AFG,Afghanistan,5.0,0.0,40099462.0,1803.987
3,2020-02-27,AFG,Afghanistan,5.0,0.0,40099462.0,1803.987
4,2020-02-28,AFG,Afghanistan,5.0,0.0,40099462.0,1803.987
...,...,...,...,...,...,...,...
217042,2022-09-12,ZWE,Zimbabwe,256888.0,5596.0,15993524.0,1899.775
217043,2022-09-13,ZWE,Zimbabwe,256904.0,5596.0,15993524.0,1899.775
217044,2022-09-14,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775
217045,2022-09-15,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775
217046,2022-09-16,ZWE,Zimbabwe,256939.0,5596.0,15993524.0,1899.775